.header {
    background-color: #7b130dea;
    position: relative;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    color: white;

}

.link {
    color: white;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.active {
    color: rgb(217, 131, 131);
}