.input {
    background-color: transparent;
    width: 220px;
    height: 45px;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 8px;
    /* color: #ffffff;
     */
    color: rgb(171, 6, 6);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 10px;
}

.input::placeholder {
    color: white;
    font-size: 14px;
}

.form {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    height: 35px;
    background-color: transparent;
    border: 2px solid rgb(171, 6, 6);
    border-radius: 8px;
    padding: 6px 8px;

}