.input {
    background-color: transparent;
    width: 220px;
    height: 45px;
    border: 2px solid #7b130dea;
    outline: none;
    border-radius: 8px;
    /* color: #ffffff;
     */
    color: #7b130dea;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 10px;
}

.input::placeholder {
    color: #7b130dea;
    font-size: 14px;
}

.form {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: center;
    /* max-width: 1216px; */
    margin-bottom: 20px;
    margin-top: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    height: 35px;
    width: 80px;
    background-color: transparent;
    border: 2px solid #7b130dea;
    background-color: #7b130dea;
    border-radius: 8px;
    padding: 6px 8px;
    color: white;

}