.wrap {
    margin: 0 auto;
}

.listMovies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 26px;
}

.img {
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.titleImg {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
    color: rgb(171, 6, 6);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}